*
{
  box-sizing:border-box;
}

body
{
    font-family: 'Kapakana', sans-serif;  
   display:flex; 
   justify-content:center;
  margin:0px;
}

.big-box
{
/*   border:2px solid black; */
   width:400px;
  background:white;
  height:360px;
  border-radius:8px;
  padding:15px;
  display:flex;
  flex-direction:column;
/*    align-items:center;  */
  justify-content:center;
  box-shadow:5px 5px 10px rgba(0,0,1,0.1),-5px -5px 10px rgba(0,0,1,0.1);
}

.image
{
/*   border:2px solid black; */
  border-radius:3px;
  overflow:hidden;
}
.image img
{
  width:100%;
  height:100%;
}
.slot
{
/*   border:2px solid black; */
  display:flex;
/*   width:100%; */
  justify-content:space-between;
  align-items:center;
  padding:5px 10px 5px 17px;
  background:rgba(50,134,255,1);
  color:white;
  font-family:arial;
  font-size:15px;
  border-radius:10px;
}
.parking-1
{
  display:flex;
/*   flex-direction:column; */
  align-items:center;
}
.plus
{
  display:flex;
/*   border:2px solid red; */
  align-items:center;
  padding:5px;
  gap:5px;
/*   font-weight:bold; */
}
.plus img
{
  width:20px;
  filter:invert();
}
.para h2
{
  font-family: "Poppins"
}
.para p
{
  font-family:arial;
  opacity:0.8;
}
.para
{
  margin-top:-10px;
}






.box-2 img
{
  width:70px;
}
.box-2
{
/*   border:2px solid red; */
  display:flex;
  background:white;
  flex-direction:column;
  justify-content:center;
  width:400px;
/*    height:250px; */
  padding:20px 10px 10px 10px;
   box-shadow:5px 5px 10px rgba(0,0,1,0.1),-5px -5px 10px rgba(0,0,1,0.1);
  border-radius:8px;
}
.parking
{
  display:flex;
  justify-content:center;
  filter:invert(30%) sepia(100%) saturate(7000%) hue-rotate(230deg) contrast(100%) brightness(200%);
}
.paragraph
{
/*   border:2px solid black; */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:0px 20px 0px 30px;
}
.paragraph h2
{
  font-size:22px;
}
.paragraph p
{
/*   border:2px solid blue; */
  opacity:0.7;
  margin-top:-10px;
}
.paragraph span
{
  font-weight:bold;
}
.close
{
/*   border:2px solid blue; */
  padding:15px;
  display:flex;
 justify-content:center;
  background:rgba(240,240,240,1);
  font-family: "Roboto";
  font-weight:bold;  
  opacity:0.9;
  font-size:16px;
}

.main-container
{
/*   border:2px solid blue; */
  display:flex;
   width:100%;
  flex-direction:column;
   align-items:center; 
/*   justify-content:center; */
  gap:10px;
/*    height:700px; */
   padding:10px 0px 10px 0px; 
  background:rgba(236,240,241,1);
}

.venue {
	width: auto;
	height: auto;
	background-color: #BF0C42;
	border-radius: 16px;
    border-color: transparent;
	text-align: center;
	color: #fff;
	padding: 8px;
	margin-right: 8px;
}

.venue a {
	text-decoration: none;
	color: #fff;
}